html, body {
    height: 100%;
    margin: 0;
}

.unique-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.unique-main {
    flex: 1;
}

footer {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, black 70%), 
                      url('../img/anthony-tuil-dqiSOmCsb4s-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
}

.unique-footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.unique-footer-container div {
    flex: 1;
    padding: 10px;
}

.unique-footer-container h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.unique-footer-container ul {
    list-style-type: none;
    padding: 0;
}

.unique-footer-container ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.unique-footer-container ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.unique-footer-container ul li a:hover {
    text-decoration: underline;
}

.unique-footer-social img {
    height: 70px;
    margin-right: 10px;
    margin-top: 10px;
}

.unique-footer-social p {
    margin: 0;
}

.unique-footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid white;
    margin-top: 20px;
}

.unique-reseaux-liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ajoute cette ligne pour mettre les éléments en ligne */
    justify-content: space-between; /* Optionnel: Ajoute de l'espace entre les éléments */
}

.unique-reseaux-liste li {
    margin: 0 10px; /* Optionnel: Ajuste l'espacement horizontal entre les images */
}

.unique-reseaux-liste li img {
    height: 300px; /* Ajuste la taille des images si nécessaire */
}
