/* Style de base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header-component, footer-component {
    display: block;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Section Héro */
.hero {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right, #4CAF50, #81C784);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Section des boutons */
.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    width: 200px;
}

.button-item:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.button-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #4CAF50;
    margin-bottom: 10px;
    transition: transform 0.3s, border-color 0.3s;
}

.button-item img:hover {
    transform: scale(1.1);
    border-color: #388E3C;
}

.button-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Bouton pour ouvrir le menu */
.open-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 1;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.open-menu-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.open-menu-btn:hover {
    background-color: #555;
    transform: translateY(-3px);
}

/* Menu déroulant */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    color: #333;
}

.side-menu h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.side-menu .closebtn {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* Overlay pour masquer le reste de la page */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


#drop-area {
    margin-bottom: 15px;
    padding: 20px;
    border: 2px dashed #4CAF50;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}

#drop-area:hover {
    background-color: #f0fff0;
    border-color: #81C784;
}

#preview-image {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Section des actualités */
.news-content {
    padding: 25px;
}

.news-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

.news-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.news-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.news-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

.news-info .date {
    font-size: 12px;
    color: #999;
}

.news-item .delete-btn {
    color: red;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
}


